.container {
    margin: 0 auto;
    max-width: 1140px;
    position: relative;
   
}

 .top__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}
