.welcome {
    margin: 0 auto;
    min-height: 100%;
    width: 100vw;
    height: 100vh;
    background: url(../../img/bg.jpg) no-repeat center center;  
    background-size: cover;
   
}

.welcome__container {
    width: 1128px;
    height: 643px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../../img/rec.png);
}

.welcome__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 27%;

}

.welcome__logo {
    margin-bottom: 60px;
}

.button--welcome {
    padding: 17px 58px;
    text-transform: uppercase;
}